$primary-color:#202020;
$secondary-bg-color: #eb4949;
$link-color: #1F1F1F;
$link-color-hover: #38424B;
$secondary-link-color: #768596;
$blog-title-color: #1f1f1f;
$border-primay-color: #dce0e4;
$primay-title-size: 48px;



$black: #1F1F1F;
$blackgray: #687888;

$light: #FFF;
$red: #BA1414;
$redlight: #EB4949;
$redgray: #D10D0D;
$reddark: #811101;

$gray: #F2F2F2;
$graylight: #CDCDCD;
$grayblue: #768596;

$bg_bluegraylight: #E2E6E9;

$font1: 'PT Sans', sans-serif;
$font2: 'Oswald', sans-serif;


$assetPath : "../image";

